<div>
  <table class="attributes-table {% if active_theme() == 'violet' %}table table-bordered{% endif %}">
    <thead>
      <tr>
        <th>API Category</th>
        <th>API Attribute</th>
        <th>Twilio Discount (%)</th>
        <th>Disc Pricing (USD)</th>
        <th>Sinch Discount (%)</th>
        <th>InfoBip Discount (%)</th>
      </tr>
    </thead>
    <tbody>
      {% for mainkey, attributes in content.final %}
        {% for key, att in attributes %}
          <tr>
            {% if key == 0 %}
              <td rowspan={{ attributes|length }}>{{ content.titles[mainkey].name }}</td>
            {% endif %}
            <td>{{ att.title }}</td>
            <td>
              <span class=" ">{{ att.twilio_discount}}</span>
            </td>
            <td>
              <span class=" ">{{ att.disc_pricing}}</span>
            </td>
            <td>
              <span class=" ">{{ att.sinch_discount}}</span>
            </td>
            <td>
              <span class=" ">{{ att.infobip_discount}}</span>
            </td>
          </tr>
        {% endfor %}
      {% endfor %}
    </tbody>
  </table>
</div>
