<div>
	{# {{ content.edit_page }} #}
	<table class="attributes-table">
		<thead>
			<tr>
				<th>API Attribute</th>
				{% for date , atts in content.header_date %}
					<th>
						Price Effective<br>{{ atts }}</th>
				{% endfor %}
			</tr>
		</thead>
		<tbody>
			{% for key, att in content.final %}
				<tr>
					<td>{{ att.title }}</td>
					{% for key, date in content.header_date %}
						<td>
							{{ content.symbols[key] }}
							{{ att['price' ~ key] }}</td>
					{% endfor %}
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
