{{ form.form_build_id }}
{{ form.form_token }}
{{ form.form_id }}

<div class="rate-sheet-filter">
	<div class="rate-sheet-filter-currencies">
		<span class="attribute-inputs">{{ form.currencies }}</span>
	</div>
	<div class="rate-sheet-filter-effective">
		<span class="attribute-inputs">{{ form.attribute_date }}</span>
	</div>
</div>
<table class="attributes-table">
	<thead>
		<tr>
			<th>API Attributes</th>
			<td>Current API Pricing</td>
			<th>
				Estimated Prices
			</th>
		</tr>
	</thead>
	<tbody>
	    {% set attributes = fetch_attributes() %}
	    {% for id, title in attributes.titles %}
			<tr>
				<td>{{ title }}</td>
				<td>{{ attributes.prices[id] }} {% if form['price' ~ id]|field_value != attributes.prices[id] %}<span class="price-variation" style="color: red; font-size: 20px;">*</span>{% endif %}</td>
				<td>{{ form['price' ~ id] }}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

{{ form.status }}

{{ form.approve }}
{{ form.reject }}
