{{ form.form_build_id }}
{{ form.form_token }}
{{ form.form_id }}


{{ form.currencies }}
{{ form.attribute_date }}
<table class="attributes-table">
  <thead>
    <tr>
      <td>Title</td>
      <td> Estimated Prices </td>
    </tr>
  </thead>
  <tbody>
    {% for id, title in fetch_attributes() %}
    <tr>
      <td>{{ title }}</td>
      <td>{{ form['price' ~ id] }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{{ form.status }}

{{ form.approve }} {{ form.reject }}