<div class="chart-wrapper">
	<div class="top-banner">
		<div class="banner banner-1">
			<div class="banner-title">{{ 'Total Successful API Transactions this month' }}</div>
			<div class="report-wrap">
				<div class="banner-number">{{ content.totalSuccessCalls|round|convert_number }}</div>
				{# <div class="data-report-type successfull">{{ 'Successful' }}</div> #}

			</div>
			<div class="data-report-type successfull-avg">Average
				{{ content.totalSuccessCallsAvg |round|convert_number }}
				/ day</div>
		</div>
		<div class="banner banner-2">
			<div class="banner-title">{{ 'Total Unsuccessful API Transactions this month' }}</div>
			<div class="report-wrap">
				<div class="banner-number">{{ content.totalUnsuccessCalls|round|convert_number }}</div>
				{# <div class="data-report-type unsuccessfull">{{ 'Unsuccessful' }}</div> #}

			</div>
			<div class="data-report-type unsuccessfull-avg">Average
				{{ content.totalUnsuccessCallsAvg |round|convert_number }}
				/ day</div>
		</div>
		<div class="banner banner-3">
			<div
				class="banner-content-wrap">
				{# <div class="banner-icon"><img src="/modules/custom/analytics/icons/Phonecall.svg" width="18" height="18"/></div> #}
				<div class="banner-content">
					<div class="banner-title">{{ 'Highest # of API calls per Day' }}</div>
					<div class="report-wrap">
						<div class="banner-number">{{ content.highestApi|round|convert_number }}</div>
						{# <div class="data-report-type">{{ 'API calls' }}</div> #}
					</div>
				</div>
			</div>
		</div>
		<div class="banner banner-4">
			<div
				class="banner-content-wrap">
				{# <div class="banner-icon"><img src="/modules/custom/analytics/icons/bar.svg" width="18" height="18"/></div> #}
				<div class="banner-content">
					<div class="banner-title">{{ 'Average Latency per Day' }}</div>
					<div class="report-wrap">
						<div class="banner-number">{{ content.averageLatency|round|convert_number }}</div>
						<div class="data-report-type">{{ 'ms' }}</div>
					</div>
				</div>
			</div>
		</div>
		<div class="banner banner-5">
			<div
				class="banner-content-wrap">
				{# <div class="banner-icon"><img src="/modules/custom/analytics/icons/bar.svg" width="18" height="18"/></div> #}
				<div class="banner-content">
					<div class="banner-title">{{ 'Average # of API Calls per Day' }}</div>
					<div class="report-wrap">
						<div class="banner-number">{{ content.averageApi|round|convert_number }}</div>
						{# <div class="data-report-type">{{ 'API Calls' }}</div> #}
					</div>
				</div>
			</div>
		</div>
	</div>
	<h2 class="page-chart-title">{{'Charts'|t}}</h2>
	<div class="charts-selects">
		<div class="charts-dropdown-carrier">
			<select>
				<option value=''>All Carriers</option>
				{% for i,term in content.carrierArray %}
					<option value={{ i }}>{{ term }}</option>
				{% endfor %}
			</select>
		</div>
		<div class="charts-dropdown-attributes">
			<select>
				<option value=''>All Attributes</option>
				{% for i,term in content.attributeArray %}
					<option value={{ i }}>{{ term }}</option>
				{% endfor %}
			</select>
		</div>
		<div class="charts-dropdown-partner">

			<select>
				<option value=''>All Clients</option>
				{% for i,partner in content.partnerArray %}
					<option value={{ i }}>{{ partner }}</option>
				{% endfor %}
			</select>
		</div>
		<div class="charts-dropdown-customer">
			<select>
				<option value=''>All End Customers</option>
				{% for i,term in content.customerArray %}
					<option value={{ i }}>{{ term }}</option>
				{% endfor %}
			</select>
		</div>
		<div class="charts-dropdown-months">
			<select>
				{% for i,month in content.months %}
					<option value={{ i+1 }} {% if i+1 == content.currentMonth %} selected {% endif %}>{{ month }}</option>
				{% endfor %}
			</select>
		</div>
		<div class="charts-dropdown-years">
			<select>
				{% for year in content.years %}
					<option value={{ year }} {% if year == content.currentYear %} selected {% endif %}>{{ year }}</option>
				{% endfor %}
			</select>
		</div>
	</div>
	<div
		class="">
		{# Chart 1 block start #}
		<div class="chart-1-block col-12">
			<div class="chart-1-header">
				<div class="chart-1-title">
					<h2>{{ 'Successful API Volume by Attribute'|t }}</h2>
				</div>
			</div>
			<div id="chart1"></div>
		</div>
		{# Chart 1 block end #}
		{# Chart 2 block start #}
		<div class="chart-2-block col-12">
			<div class="chart-2-header">
				<div class="chart-2-title">
					<h2>{{ 'API Volumes by Type'|t }}</h2>
					<div class="chart-2-status-dropdown">
						<select>
							<option value=''>All</option>
							<option value='200'>Successful</option>
							<option value='404'>Unsuccessful</option>
							<option value='other_non_200'>Invalid</option>
						</select>
					</div>
				</div>
			</div>
			<div id="chart2"></div>
		</div>
		{# Chart 2 block end #}
	</div>

	<div
		class="">
		{# Chart 3 block start #}
		<div class="chart-3-block col-12">
			<div class="chart-3-header">
				<div class="chart-3-title">
					<h2>{{ 'Daily Average API Latency'|t }}</h2>
				</div>
			</div>
			<div id="chart3"></div>
		</div>
		{# Chart 3 block end #}
		{# Chart 4 block start #}
		<div class="chart-4-block col-12">
			<div class="chart-4-header">
				<div class="chart-4-title">
					<h2>{{ 'Estimated Revenue by Attribute'|t }}</h2>
				</div>
			</div>
			<div id="chart4"></div>
		</div>
		{# Chart 4 block end #}
	</div>
</div>
<div class="loader"></div>
